{% block _grade_rewardable_widget %}
    <div class="custom-control custom-radio">
        {{ form_errors(form) }}
        <input type="radio" id="customRadio1" name="{{ full_name }}" class="custom-control-input">
        <label class="custom-control-label" for="customRadio1">Toggle this custom radio</label>
    </div>
{% endblock %}