<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
</head>
<body>
<h3 class="text-center">Headquaters: Located at Yaoundé SOMATEL BIYEM ASSI opposite BICEC BANK. </h3>
<p class="text-center">Tel: +237 655 05 56 51 / 670 91 37 21. racsafrique@gmail.com</p>
</body>
</html>