
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.local.php.bak
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> symfony/webpack-encore-bundle ###
/node_modules/
###< symfony/webpack-encore-bundle ###

###> phpunit/phpunit ###
/phpunit.xml
.phpunit.result.cache
###< phpunit/phpunit ###

# IDE
/.idea/
/.vscode/
*.swp
*.swo

# OS
Thumbs.db
.DS_Store

# Docker
/docker/init-db/*.sql

# Misc
src.zip
.env.prod

###> liip/imagine-bundle ###
/public/media/cache/
###< liip/imagine-bundle ###

###> phpstan/phpstan ###
phpstan.neon
###< phpstan/phpstan ###

###> symfony/phpunit-bridge ###
.phpunit.result.cache
/phpunit.xml
###< symfony/phpunit-bridge ###
