<div class="container">
    <h1>Informations détaillées</h1>
    {% if app.user and is_granted('IS_AUTHENTICATED_FULLY') and is_granted('ROLE_JTWC_ADMIN') %}
        <a href="{{ path('product_sv_list') }}"><button type="button" class="btn btn-primary"><span class="fa fa-plus-circle"></span>Ajouter</button></a>
    {% endif %}
    {% if product_sv is defined %}
        <table>
            <tr><th>Produit</th><th>SV</th><th>View</th></tr>
            <tr>
                <td>{{ product_sv.product.name }}</td>
                <td>{{ product_sv.value }}</td>
                <td></td>
            </tr>
        </table>
    {% else %}
        <p>La valeur SV du produit sélectionné a été supprimée</p>
    {% endif %}
</div>