{% extends 'base.html.twig' %}
{% block title %}Detail composition - RACS Health Global{% endblock %}
{% block page_title %}Informations detaillees{% endblock %}

{% block main %}
<div class="space-y-5 -m-5 sm:-m-6">
  <div class="bg-white rounded-xl border border-gray-200 p-12 text-center">
    <div class="flex flex-col items-center gap-3">
      <i data-lucide="inbox" class="w-10 h-10 text-gray-300"></i>
      <p class="text-sm text-gray-500">Aucun detail disponible</p>
    </div>
  </div>
</div>
{% endblock %}
